@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
  }
}

@layer utilities {
  .footer-link {
    @apply cursor-pointer underline;
  }
}
